<div class="mb-3">
  <ul class="list-group">
    <% @teams.each do |team| %>
      <li class="list-group-item">
        <span><%= link_to team.name, team %>: <%= team.points %></span>
      </li>
    <% end %>
  </ul>
</div>