<div class="mb-3 d-flex flex-row justify-content-start">
  <ul class="list-group flex-grow-1 me-3">
    <% @top_teams.each do |team| %>
      <li class="list-group-item">
        <span><%= link_to team.name, team %>: <%= team.points %></span>
      </li>
    <% end %>
  </ul>
  <ul class="list-group flex-grow-1">
    <% @bottom_teams.each do |team| %>
      <li class="list-group-item">
        <span><%= link_to team.name, team %>: <%= team.points %></span>
      </li>
    <% end %>
  </ul>
</div>