<h1>Players</h1>

<ul>
  <% @players.each do |player| %>
    <li>
      <span><%= link_to player.name, player %>: <%= player.get_point_total %></span>
    </li>
  <% end %>
</ul>

<%= link_to "Teams", teams_path %>