<div class="d-flex flex-row justify-content-between align-items-start">
  <h1>Players</h1>
</div>

<ul class="list-group">
  <% @players.each do |player| %>
    <li class="list-group-item">
      <span><%= link_to player.display_name, player %>: <%= ApplicationHelper.strip_trailing_zero player.points.round(2) %></span>
    </li>
  <% end %>
</ul>