<div class="d-flex flex-row justify-content-between align-items-center">
  <h1>Players</h1>
  <%= link_to "Teams", teams_path, class: "btn btn-dark" %>
</div>

<ul class="list-group">
  <% @players.each do |player| %>
    <li class="list-group-item">
      <span><%= link_to player.name, player %>: <%= player.get_point_total %></span>
    </li>
  <% end %>
</ul>