<nav class="navbar navbar-expand-lg navbar-light bg-light pe-2 ps-2">
  <div class="container-fluid">
    <a class="navbar-brand p-0 m-0" href="#">
      <h6 class="m-0"><strong>EuroCup</strong>2024</h6>
      <h5 class="m-0">INVE<strong>STARS</strong></h5>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Players', players_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Teams', teams_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>

</nav>